{% extends 'base.html' %}
{% load static %}

{% block title %}Home{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock %}



{% block content %} 
<section class="blog-container">

{% if blogs %}
    {% for blog in blogs %}
        <div class="blog-card">
            <h3>{{ blog.title }}</h3>

            <p class="blog-meta">
                By <span>{{ blog.author }}</span> · 
                {{ blog.created_at|date:"M d, Y" }}
            </p>

            <p class="blog-content">
                {{ blog.content|truncatewords:20 }}
            </p>

            <a href="{% url 'blog_detail' post_id=blog.id %}" class="read-more">
                Read More →
            </a>
        </div>
    {% endfor %}

{% elif query %}
    <p class="no-posts">No blogs found for "{{ query }}".</p>

{% else %}
    <p class="no-posts">No blogs available.</p>

{% endif %}

</section>
{% endblock %}

